

table, th, td 
{
    border: 1px solid black;
}

section 
{

    margin: 0 auto;
    margin-left: 400px;
    margin-right:270px;
    margin-bottom:20px;
    border-color:navy;
    border-radius: 25px;
    clear:both;

}

#balance
{
	margin-top:10px;

}

#increaseBalance
{
	margin-bottom:10px;

}

#apply
{

	margin-left:175px;
}



#print
{
	margin-left: 70px;

}

table
{
	width:100px;
	height:100px;

}

#notes

{
	float:left;
	width:100px;
	height:110px;
	border-radius: 0.5px;
	border-color:010101;
	border:solid;
}