 /*-----------------------------------------------Elements*/

 body
{
	background: #C0E788;
	color: #664740;
	font-family: 'Heebo', sans-serif;
	max-width: 1024px;
}

h1
{
	text-align: left;
	float: left;
	margin: 0;
	margin-right: 5px;
}

button
{
	border-style: none;
	cursor: pointer;
	font-family: 'Heebo', sans-serif;
}

table, th, td
{
	border: 1px solid black;
	margin: auto;
	padding:10px;
}

table
{
	border-collapse: collapse;
	background: white;
	margin-top:2em;
	margin-left:1em;
}
label
{
       display: block;
       float: left;
       margin-right: 0.5em;
       text-align: right;
       width: 200px;

}

/*-----------------------------------------------IDs*/

#home
{
	margin-top: 5%;
}

#logo
{
	float: left;
	max-width: 8%;
	margin-right: 5px;
}

#top-nav button
{
	height: 35px;
	border-radius: 12px;
	font-family: 'Heebo', sans-serif;
}

#name-buttons
{
	width: 55%;	
	float: left;
	text-align: center;
	color: #3F7B1D;
	font-family: 'Heebo', sans-serif;
}

#name-buttons button
{
	width: 150px;
	line-height: 3em;
	margin: 5px;
	font-family: 'Heebo', sans-serif;
}

#list
{
	float: right;
	width: 45%;
	text-align: center;
	background: white;
}

#list li
{
	list-style: none;
}


#list button
{
	width: 250px;
	line-height: 3em;
	margin: 5px;
	background: transparent;
	font-size: 12px;
}

#detail
{
	margin: 20px auto 20px auto;
	font-size: 25px;
	height:200px;
	height:auto;
	background-color: white;
}
#saveGC
{
	display:block;
	font-size:15px;
	border-radius:10px;
	width: 100%;
	margin-top: 1em;
        border-radius:10px;
}

#add{
	font-size:15px;
	border-radius:10px;
	width:40%;
	margin-bottom:1em;
        border-radius:10px;

}

#firstName, #lastName,#phone,#email,#barrista,#balance,#tx
{
  border-radius:10px;
  font:20px;
  height: 20px;
}

/*-----------------------------------------------Classes*/

.view
{
	display: block;
}

.hidden
{
	display: none;
}

.side1
{
	float: left;
	margin-right:1em;
}

.side2
{
	float: right;
	padding: 2cm;
}
