body
{
	background: #C0E788;
	color: #664740;
	text-align: center;
	font-family: Cochin, Georgia, "Times New Roman", Times, serif;
}

h1
{
	text-align: center;
}

button
{
	color: #3F7B1D;
	font-family: Cochin, Georgia, "Times New Roman", Times, serif;
}

#logo
{
position: absolute;
left: 0px;
max-width: 12%;
margin-left: 10px;
}

#top-nav
{
	margin: 10px auto 10px auto;
	text-align: center;
}

#top-nav button
{
	width: 200px;
	height: 50px;
	margin-left: 10px; 
	margin-right:10px;
}

#home
{
	margin: 10px auto 10px auto;
	text-align: center;
	width: 45%;
	float: left;
	border-right: medium solid lightgrey;
}

#home button
{
	width: 150px;
	height: 75px;
	margin: 5px;
}

.view
{
	display: block;
}

.hidden
{
	display: none;
}

#detail
{
	background-color: white;
	height:45%;
	width: 45%;
	margin: 10px auto 10px auto;
}